# ================================================================
# MacOS does this
# ================================================================
*DS_Store

# ================================================================
# Jupyter notebooks for testing
# ================================================================
.ipynb_checkpoints*
.virtual_documents*

# ================================================================
# Development, local only
# ================================================================
__pycache__*
node-server*
app/*

# ================================================================
# Huge binary files
# ================================================================
*.mov
*.numbers
*.pages
*.pdf
*.png
*.json

# ================================================================
# Local docker_tag must not be committed
# ================================================================
docker_tag.txt
version.txt

# ================================================================
# API stuff
# ================================================================
config_api
*config_api*

# ================================================================
# Names of testing dirs and local files
# ================================================================
208FMA05*
SixModuleBoardTest8Lug*
analysis/*
# note that the local files that are already checked are useful
# just to make sure no new files make it in accidentally
local/*
local_info/*
archived/*
