# ================================================================
# MacOS does this
# ================================================================
*DS_Store

# ================================================================
# Jupyter notebooks for testing
# ================================================================
.ipynb_checkpoints*
.virtual_documents*

# ================================================================
# Development, local only
# ================================================================
__pycache__*
node-server*
app/*

# ================================================================
# Huge binary files
# ================================================================
*.mov
*.numbers
*.pages
*.pdf

# ================================================================
# Local docker_tag must not be committed
# ================================================================
docker_tag.txt
version.txt

# ================================================================
# API stuff
# ================================================================
config_api
*config_api*
